-- MariaDB dump 10.19  Distrib 10.11.1-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: rumahsakit8
-- ------------------------------------------------------
-- Server version	10.11.1-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `departemen`
--

DROP TABLE IF EXISTS `departemen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departemen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_departemen` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `nama_departemen` (`nama_departemen`),
  CONSTRAINT `departemen_ibfk_1` FOREIGN KEY (`nama_departemen`) REFERENCES `kepaladepartemen` (`nama_departemen`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departemen`
--

LOCK TABLES `departemen` WRITE;
/*!40000 ALTER TABLE `departemen` DISABLE KEYS */;
INSERT INTO `departemen` VALUES
(1,'Anestesiologi'),
(2,'Bedah'),
(3,'Bedah Saraf'),
(4,'Dermatologi'),
(5,'Farmakologi Klinik'),
(6,'Forensik dan Medikolegal'),
(7,'Ilmu Gizi Klinik'),
(8,'Kebidanan dan Kandungan'),
(9,'Kesehatan Anak'),
(10,'Kesehatan Jiwa'),
(11,'Medik Gigi dan Mulut'),
(12,'Mikrobiologi Klinik'),
(13,'Orthopedi dan Traumatologi'),
(14,'Patologi Klinik'),
(15,'Penyakit Dalam'),
(16,'Penyakit Saraf'),
(17,'THT'),
(18,'Urologi');
/*!40000 ALTER TABLE `departemen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departementenagamedis`
--

DROP TABLE IF EXISTS `departementenagamedis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departementenagamedis` (
  `nomor_lisensi` varchar(25) NOT NULL,
  `id_departemen` int(11) NOT NULL,
  PRIMARY KEY (`nomor_lisensi`),
  KEY `id_departemen` (`id_departemen`),
  CONSTRAINT `departementenagamedis_ibfk_1` FOREIGN KEY (`nomor_lisensi`) REFERENCES `lisensitenagamedis` (`nomor_lisensi`),
  CONSTRAINT `departementenagamedis_ibfk_2` FOREIGN KEY (`id_departemen`) REFERENCES `departemen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departementenagamedis`
--

LOCK TABLES `departementenagamedis` WRITE;
/*!40000 ALTER TABLE `departementenagamedis` DISABLE KEYS */;
/*!40000 ALTER TABLE `departementenagamedis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `desakecamatan`
--

DROP TABLE IF EXISTS `desakecamatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `desakecamatan` (
  `desa_kelurahan` varchar(255) NOT NULL,
  `kecamatan` varchar(255) NOT NULL,
  PRIMARY KEY (`desa_kelurahan`),
  KEY `kecamatan` (`kecamatan`),
  CONSTRAINT `desakecamatan_ibfk_1` FOREIGN KEY (`kecamatan`) REFERENCES `kecamatankabupatenkota` (`kecamatan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `desakecamatan`
--

LOCK TABLES `desakecamatan` WRITE;
/*!40000 ALTER TABLE `desakecamatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `desakecamatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detailrecords`
--

DROP TABLE IF EXISTS `detailrecords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detailrecords` (
  `id_pasien` int(11) NOT NULL,
  `id_kerja_sama` int(11) NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `tanggal_keluar` date NOT NULL,
  `diagnosis` varchar(255) NOT NULL,
  `biaya` int(11) NOT NULL,
  PRIMARY KEY (`id_pasien`,`id_kerja_sama`),
  KEY `id_kerja_sama` (`id_kerja_sama`),
  CONSTRAINT `detailrecords_ibfk_1` FOREIGN KEY (`id_pasien`) REFERENCES `pasien` (`id`),
  CONSTRAINT `detailrecords_ibfk_2` FOREIGN KEY (`id_kerja_sama`) REFERENCES `satuantugas` (`id_kerja_sama`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detailrecords`
--

LOCK TABLES `detailrecords` WRITE;
/*!40000 ALTER TABLE `detailrecords` DISABLE KEYS */;
/*!40000 ALTER TABLE `detailrecords` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dokter`
--

DROP TABLE IF EXISTS `dokter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokter` (
  `id` int(11) NOT NULL,
  `spesialisasi` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `dokter_ibfk_1` FOREIGN KEY (`id`) REFERENCES `lisensitenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokter`
--

LOCK TABLES `dokter` WRITE;
/*!40000 ALTER TABLE `dokter` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kabupatenprovinsi`
--

DROP TABLE IF EXISTS `kabupatenprovinsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kabupatenprovinsi` (
  `kabupaten_kota` varchar(255) NOT NULL,
  `provinsi` varchar(255) NOT NULL,
  PRIMARY KEY (`kabupaten_kota`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kabupatenprovinsi`
--

LOCK TABLES `kabupatenprovinsi` WRITE;
/*!40000 ALTER TABLE `kabupatenprovinsi` DISABLE KEYS */;
INSERT INTO `kabupatenprovinsi` VALUES
('Cheyenneport','Connecticut'),
('Clarkburgh','Minnesota'),
('East Larryfort','Vermont'),
('East Nancy','Delaware'),
('Jeffport','North Dakota'),
('Katelynland','Arkansas'),
('Lake James','New York'),
('Lake Jennifer','Nevada'),
('Leeberg','Nevada'),
('Littleborough','Georgia'),
('Nunezside','Nebraska'),
('Port Chelsea','Texas'),
('South Tammy','Louisiana'),
('Thomasmouth','Wyoming'),
('West Bryan','Arkansas');
/*!40000 ALTER TABLE `kabupatenprovinsi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kecamatankabupatenkota`
--

DROP TABLE IF EXISTS `kecamatankabupatenkota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kecamatankabupatenkota` (
  `kecamatan` varchar(255) NOT NULL,
  `kabupaten_kota` varchar(255) NOT NULL,
  PRIMARY KEY (`kecamatan`),
  KEY `kabupaten_kota` (`kabupaten_kota`),
  CONSTRAINT `kecamatankabupatenkota_ibfk_1` FOREIGN KEY (`kabupaten_kota`) REFERENCES `kabupatenprovinsi` (`kabupaten_kota`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kecamatankabupatenkota`
--

LOCK TABLES `kecamatankabupatenkota` WRITE;
/*!40000 ALTER TABLE `kecamatankabupatenkota` DISABLE KEYS */;
/*!40000 ALTER TABLE `kecamatankabupatenkota` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelaskapasitaskamar`
--

DROP TABLE IF EXISTS `kelaskapasitaskamar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kelaskapasitaskamar` (
  `nomor` int(11) NOT NULL,
  `lantai` int(11) NOT NULL,
  `kelas` varchar(10) NOT NULL,
  `kapasitas` int(11) NOT NULL,
  PRIMARY KEY (`nomor`,`lantai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelaskapasitaskamar`
--

LOCK TABLES `kelaskapasitaskamar` WRITE;
/*!40000 ALTER TABLE `kelaskapasitaskamar` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelaskapasitaskamar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kepaladepartemen`
--

DROP TABLE IF EXISTS `kepaladepartemen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kepaladepartemen` (
  `nama_departemen` varchar(255) NOT NULL,
  `kepala_departemen` varchar(255) NOT NULL,
  PRIMARY KEY (`nama_departemen`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kepaladepartemen`
--

LOCK TABLES `kepaladepartemen` WRITE;
/*!40000 ALTER TABLE `kepaladepartemen` DISABLE KEYS */;
/*!40000 ALTER TABLE `kepaladepartemen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `klaimasuransi`
--

DROP TABLE IF EXISTS `klaimasuransi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `klaimasuransi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggalKlaim` date NOT NULL,
  `status` varchar(255) NOT NULL,
  `id_perusahaan` int(11) NOT NULL,
  `id_medical_records` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perusahaan` (`id_perusahaan`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `klaimasuransi_ibfk_1` FOREIGN KEY (`id_perusahaan`) REFERENCES `perusahaanasuransi` (`id`),
  CONSTRAINT `klaimasuransi_ibfk_2` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `klaimasuransi`
--

LOCK TABLES `klaimasuransi` WRITE;
/*!40000 ALTER TABLE `klaimasuransi` DISABLE KEYS */;
/*!40000 ALTER TABLE `klaimasuransi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kontakdarurat`
--

DROP TABLE IF EXISTS `kontakdarurat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kontakdarurat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor` varchar(100) NOT NULL,
  `nama` varchar(255) NOT NULL,
  PRIMARY KEY (`id`,`nomor`,`nama`),
  CONSTRAINT `kontakdarurat_ibfk_1` FOREIGN KEY (`id`) REFERENCES `pasien` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kontakdarurat`
--

LOCK TABLES `kontakdarurat` WRITE;
/*!40000 ALTER TABLE `kontakdarurat` DISABLE KEYS */;
/*!40000 ALTER TABLE `kontakdarurat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lisensitenagamedis`
--

DROP TABLE IF EXISTS `lisensitenagamedis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lisensitenagamedis` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor_lisensi` varchar(25) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_lisensi` (`nomor_lisensi`),
  CONSTRAINT `lisensitenagamedis_ibfk_1` FOREIGN KEY (`id`) REFERENCES `orang` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=300 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lisensitenagamedis`
--

LOCK TABLES `lisensitenagamedis` WRITE;
/*!40000 ALTER TABLE `lisensitenagamedis` DISABLE KEYS */;
/*!40000 ALTER TABLE `lisensitenagamedis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicalrecord`
--

DROP TABLE IF EXISTS `medicalrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicalrecord` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_pasien` int(11) NOT NULL,
  `id_kerja_sama` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_pasien` (`id_pasien`),
  KEY `id_kerja_sama` (`id_kerja_sama`),
  CONSTRAINT `medicalrecord_ibfk_1` FOREIGN KEY (`id_pasien`) REFERENCES `pasien` (`id`),
  CONSTRAINT `medicalrecord_ibfk_2` FOREIGN KEY (`id_kerja_sama`) REFERENCES `satuantugas` (`id_kerja_sama`)
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicalrecord`
--

LOCK TABLES `medicalrecord` WRITE;
/*!40000 ALTER TABLE `medicalrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicalrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orang`
--

DROP TABLE IF EXISTS `orang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_depan` varchar(255) NOT NULL,
  `nama_belakang` varchar(255) NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `jenis_kelamin` varchar(255) NOT NULL,
  `nomor_telepon` varchar(100) NOT NULL,
  `jalan` varchar(255) NOT NULL,
  `desa_kelurahan` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `desa_kelurahan` (`desa_kelurahan`),
  CONSTRAINT `orang_ibfk_1` FOREIGN KEY (`desa_kelurahan`) REFERENCES `desakecamatan` (`desa_kelurahan`)
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orang`
--

LOCK TABLES `orang` WRITE;
/*!40000 ALTER TABLE `orang` DISABLE KEYS */;
/*!40000 ALTER TABLE `orang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pasien`
--

DROP TABLE IF EXISTS `pasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pasien` (
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `pasien_ibfk_1` FOREIGN KEY (`id`) REFERENCES `orang` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pasien`
--

LOCK TABLES `pasien` WRITE;
/*!40000 ALTER TABLE `pasien` DISABLE KEYS */;
/*!40000 ALTER TABLE `pasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penempatankamar`
--

DROP TABLE IF EXISTS `penempatankamar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penempatankamar` (
  `id` int(11) NOT NULL,
  `lantai` int(11) NOT NULL,
  `nomor` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `nomor` (`nomor`,`lantai`),
  CONSTRAINT `penempatankamar_ibfk_1` FOREIGN KEY (`id`) REFERENCES `medicalrecord` (`id`),
  CONSTRAINT `penempatankamar_ibfk_2` FOREIGN KEY (`nomor`, `lantai`) REFERENCES `kelaskapasitaskamar` (`nomor`, `lantai`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penempatankamar`
--

LOCK TABLES `penempatankamar` WRITE;
/*!40000 ALTER TABLE `penempatankamar` DISABLE KEYS */;
/*!40000 ALTER TABLE `penempatankamar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perawat`
--

DROP TABLE IF EXISTS `perawat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perawat` (
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `perawat_ibfk_1` FOREIGN KEY (`id`) REFERENCES `lisensitenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perawat`
--

LOCK TABLES `perawat` WRITE;
/*!40000 ALTER TABLE `perawat` DISABLE KEYS */;
/*!40000 ALTER TABLE `perawat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perusahaanasuransi`
--

DROP TABLE IF EXISTS `perusahaanasuransi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perusahaanasuransi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_perusahaan` varchar(255) NOT NULL,
  `nama_kontak` varchar(255) DEFAULT NULL,
  `nomor_telepon` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perusahaanasuransi`
--

LOCK TABLES `perusahaanasuransi` WRITE;
/*!40000 ALTER TABLE `perusahaanasuransi` DISABLE KEYS */;
/*!40000 ALTER TABLE `perusahaanasuransi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prosedur`
--

DROP TABLE IF EXISTS `prosedur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prosedur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `nama_pengobatan` varchar(255) NOT NULL,
  `dosis` varchar(255) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `prosedur_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prosedur`
--

LOCK TABLES `prosedur` WRITE;
/*!40000 ALTER TABLE `prosedur` DISABLE KEYS */;
/*!40000 ALTER TABLE `prosedur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resep`
--

DROP TABLE IF EXISTS `resep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `nama_pengobatan` varchar(255) NOT NULL,
  `dosis` varchar(255) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `resep_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resep`
--

LOCK TABLES `resep` WRITE;
/*!40000 ALTER TABLE `resep` DISABLE KEYS */;
/*!40000 ALTER TABLE `resep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satuantugas`
--

DROP TABLE IF EXISTS `satuantugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `satuantugas` (
  `id_kerja_sama` int(11) NOT NULL,
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id_kerja_sama`,`id`),
  KEY `id` (`id`),
  CONSTRAINT `satuantugas_ibfk_1` FOREIGN KEY (`id`) REFERENCES `lisensitenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satuantugas`
--

LOCK TABLES `satuantugas` WRITE;
/*!40000 ALTER TABLE `satuantugas` DISABLE KEYS */;
/*!40000 ALTER TABLE `satuantugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teslab`
--

DROP TABLE IF EXISTS `teslab`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teslab` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `tanggal_tes` date NOT NULL,
  `hasil` varchar(255) NOT NULL,
  `tempat` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `teslab_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teslab`
--

LOCK TABLES `teslab` WRITE;
/*!40000 ALTER TABLE `teslab` DISABLE KEYS */;
/*!40000 ALTER TABLE `teslab` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-05-02 12:10:02
