-- MariaDB dump 10.19  Distrib 10.11.1-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: rumahsakit4
-- ------------------------------------------------------
-- Server version	10.11.1-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `departemen`
--

DROP TABLE IF EXISTS `departemen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departemen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_departemen` varchar(255) NOT NULL,
  `kepala_departemen` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departemen`
--

LOCK TABLES `departemen` WRITE;
/*!40000 ALTER TABLE `departemen` DISABLE KEYS */;
/*!40000 ALTER TABLE `departemen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dokter`
--

DROP TABLE IF EXISTS `dokter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dokter` (
  `id` int(11) NOT NULL,
  `spesialisasi` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `dokter_ibfk_1` FOREIGN KEY (`id`) REFERENCES `tenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dokter`
--

LOCK TABLES `dokter` WRITE;
/*!40000 ALTER TABLE `dokter` DISABLE KEYS */;
/*!40000 ALTER TABLE `dokter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kamarpasien`
--

DROP TABLE IF EXISTS `kamarpasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kamarpasien` (
  `id` int(11) NOT NULL,
  `lantai` int(11) NOT NULL,
  `nomor` int(11) NOT NULL,
  `kelas` varchar(10) NOT NULL,
  `kapasitas` int(11) NOT NULL,
  PRIMARY KEY (`id`,`lantai`,`nomor`),
  CONSTRAINT `kamarpasien_ibfk_1` FOREIGN KEY (`id`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kamarpasien`
--

LOCK TABLES `kamarpasien` WRITE;
/*!40000 ALTER TABLE `kamarpasien` DISABLE KEYS */;
/*!40000 ALTER TABLE `kamarpasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `klaimasuransi`
--

DROP TABLE IF EXISTS `klaimasuransi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `klaimasuransi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tanggalKlaim` date NOT NULL,
  `status` varchar(255) NOT NULL,
  `id_perusahaan` int(11) NOT NULL,
  `id_medical_records` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_perusahaan` (`id_perusahaan`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `klaimasuransi_ibfk_1` FOREIGN KEY (`id_perusahaan`) REFERENCES `perusahaanasuransi` (`id`),
  CONSTRAINT `klaimasuransi_ibfk_2` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `klaimasuransi`
--

LOCK TABLES `klaimasuransi` WRITE;
/*!40000 ALTER TABLE `klaimasuransi` DISABLE KEYS */;
/*!40000 ALTER TABLE `klaimasuransi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kontakdarurat`
--

DROP TABLE IF EXISTS `kontakdarurat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kontakdarurat` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor` varchar(100) NOT NULL,
  `nama` varchar(255) NOT NULL,
  PRIMARY KEY (`id`,`nomor`,`nama`),
  CONSTRAINT `kontakdarurat_ibfk_1` FOREIGN KEY (`id`) REFERENCES `pasien` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=299 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kontakdarurat`
--

LOCK TABLES `kontakdarurat` WRITE;
/*!40000 ALTER TABLE `kontakdarurat` DISABLE KEYS */;
/*!40000 ALTER TABLE `kontakdarurat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicalrecord`
--

DROP TABLE IF EXISTS `medicalrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicalrecord` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_pasien` int(11) NOT NULL,
  `id_kerja_sama` int(11) NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `tanggal_keluar` date NOT NULL,
  `diagnosis` varchar(255) NOT NULL,
  `biaya` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_pasien` (`id_pasien`),
  CONSTRAINT `medicalrecord_ibfk_1` FOREIGN KEY (`id_pasien`) REFERENCES `orang` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicalrecord`
--

LOCK TABLES `medicalrecord` WRITE;
/*!40000 ALTER TABLE `medicalrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicalrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orang`
--

DROP TABLE IF EXISTS `orang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_depan` varchar(255) NOT NULL,
  `nama_belakang` varchar(255) NOT NULL,
  `tanggal_lahir` date NOT NULL,
  `jenis_kelamin` varchar(255) NOT NULL,
  `nomor_telepon` varchar(100) NOT NULL,
  `jalan` varchar(255) NOT NULL,
  `desa_kelurahan` varchar(255) NOT NULL,
  `kecamatan` varchar(255) NOT NULL,
  `kabupaten_kota` varchar(255) NOT NULL,
  `provinsi` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=301 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orang`
--

LOCK TABLES `orang` WRITE;
/*!40000 ALTER TABLE `orang` DISABLE KEYS */;
/*!40000 ALTER TABLE `orang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pasien`
--

DROP TABLE IF EXISTS `pasien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pasien` (
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `pasien_ibfk_1` FOREIGN KEY (`id`) REFERENCES `orang` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pasien`
--

LOCK TABLES `pasien` WRITE;
/*!40000 ALTER TABLE `pasien` DISABLE KEYS */;
/*!40000 ALTER TABLE `pasien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perawat`
--

DROP TABLE IF EXISTS `perawat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perawat` (
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `perawat_ibfk_1` FOREIGN KEY (`id`) REFERENCES `tenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perawat`
--

LOCK TABLES `perawat` WRITE;
/*!40000 ALTER TABLE `perawat` DISABLE KEYS */;
/*!40000 ALTER TABLE `perawat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `perusahaanasuransi`
--

DROP TABLE IF EXISTS `perusahaanasuransi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `perusahaanasuransi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_perusahaan` varchar(255) NOT NULL,
  `nama_kontak` varchar(255) DEFAULT NULL,
  `nomor_telepon` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `perusahaanasuransi`
--

LOCK TABLES `perusahaanasuransi` WRITE;
/*!40000 ALTER TABLE `perusahaanasuransi` DISABLE KEYS */;
/*!40000 ALTER TABLE `perusahaanasuransi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prosedur`
--

DROP TABLE IF EXISTS `prosedur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prosedur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `nama_pengobatan` varchar(255) NOT NULL,
  `dosis` varchar(255) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `prosedur_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prosedur`
--

LOCK TABLES `prosedur` WRITE;
/*!40000 ALTER TABLE `prosedur` DISABLE KEYS */;
/*!40000 ALTER TABLE `prosedur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resep`
--

DROP TABLE IF EXISTS `resep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `nama_pengobatan` varchar(255) NOT NULL,
  `dosis` varchar(255) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `resep_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resep`
--

LOCK TABLES `resep` WRITE;
/*!40000 ALTER TABLE `resep` DISABLE KEYS */;
/*!40000 ALTER TABLE `resep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satuantugas`
--

DROP TABLE IF EXISTS `satuantugas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `satuantugas` (
  `id_kerja_sama` int(11) NOT NULL,
  `id` int(11) NOT NULL,
  PRIMARY KEY (`id_kerja_sama`,`id`),
  KEY `id` (`id`),
  CONSTRAINT `satuantugas_ibfk_1` FOREIGN KEY (`id`) REFERENCES `tenagamedis` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satuantugas`
--

LOCK TABLES `satuantugas` WRITE;
/*!40000 ALTER TABLE `satuantugas` DISABLE KEYS */;
/*!40000 ALTER TABLE `satuantugas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tenagamedis`
--

DROP TABLE IF EXISTS `tenagamedis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tenagamedis` (
  `id` int(11) NOT NULL,
  `nomor_lisensi` varchar(25) NOT NULL,
  `id_departemen` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_departemen` (`id_departemen`),
  CONSTRAINT `tenagamedis_ibfk_1` FOREIGN KEY (`id`) REFERENCES `orang` (`id`),
  CONSTRAINT `tenagamedis_ibfk_2` FOREIGN KEY (`id_departemen`) REFERENCES `departemen` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tenagamedis`
--

LOCK TABLES `tenagamedis` WRITE;
/*!40000 ALTER TABLE `tenagamedis` DISABLE KEYS */;
/*!40000 ALTER TABLE `tenagamedis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teslab`
--

DROP TABLE IF EXISTS `teslab`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teslab` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_medical_records` int(11) NOT NULL,
  `tanggal_tes` date NOT NULL,
  `hasil` varchar(255) NOT NULL,
  `tempat` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_medical_records` (`id_medical_records`),
  CONSTRAINT `teslab_ibfk_1` FOREIGN KEY (`id_medical_records`) REFERENCES `medicalrecord` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teslab`
--

LOCK TABLES `teslab` WRITE;
/*!40000 ALTER TABLE `teslab` DISABLE KEYS */;
/*!40000 ALTER TABLE `teslab` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-04-09 15:39:43
